# Data Preparation

National Centers for Environmental Information (NCEI) is responsible for hosting and providing access to one of the most significant archives on Earth, with comprehensive oceanic, atmospheric, and geophysical data. From the depths of the ocean to the surface of the sun and from million-year-old ice core records to near real-time satellite images, NCEI is the Nationâ€™s leading authority for environmental information.

The Global Summary of the Month (GSOM) and Global Summary of the Year (GSOY) datasets consist of 55 climatological variables computed from summary of the day observations of the Global Historical Climatology Network Daily dataset. Of these, 53 are monthly and annual summary variables and two are season-to-date variables. 

This project consumes GSOY data. In order to keep volume of data under control, we only consider precipitation and temperature data for US.

In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

## Import necessary libraries

In [2]:
import os
import pandas as pd
from collections import OrderedDict
from sqlalchemy import create_engine, inspect
import tarfile

### Path to historic yearly weather information

In [3]:
RAW_DATA_FILE=os.path.join("..", "data", "gsoy-latest.tar.gz")

### Process archive downloaded from NCEI site - https://www.ncei.noaa.gov/data/gsoy/archive/

In [4]:
final_df = pd.DataFrame()

with tarfile.open(RAW_DATA_FILE, "r:gz") as tar:
    for index, member in enumerate(tar.getmembers()):
        # Extract only US data
        if not member.name.startswith('US'):
            continue
        csv = tar.extractfile(member)
        member_df = pd.read_csv(csv)
        # Skip records with no PRCP or TAVG. If record has TAVG, it also has TMAX and TMIN
        if 'TAVG' not in member_df.columns or 'PRCP' not in member_df.columns:
            continue
        
        member_df['NAME'] = member_df['NAME'].str.replace(' US', '')
        member_df['STATE'] = member_df['NAME'].apply(lambda x: x.split(',')[-1].strip())
        member_df['NAME'] = member_df['NAME'].apply(lambda x: x.split(',')[0].strip())
        
        # Use 1923 and later for analysis
        member_df = member_df[member_df.DATE >= 1923]
        
        # Extract only columns that are relevant for this analysis
        COLS_OF_INTEREST = ['DATE', 'NAME', 'STATE', 'STATION', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'PRCP', 'TAVG', 'TMAX', 'TMIN']
        final_df = pd.concat([final_df, member_df[COLS_OF_INTEREST]], sort=False)
        #if index > 1:
        #    break
final_df.head()

,DATE,NAME,STATE,STATION,LATITUDE,LONGITUDE,ELEVATION,PRCP,TAVG,TMAX,TMIN
0,2009,SIOUX FALLS ENVIRON. CANADA,SD,US009052008,43.7333,-96.6333,482.0,549.7,6.26,12.07,0.45
1,2010,SIOUX FALLS ENVIRON. CANADA,SD,US009052008,43.7333,-96.6333,482.0,755.1,7.32,12.91,1.72
2,2011,SIOUX FALLS ENVIRON. CANADA,SD,US009052008,43.7333,-96.6333,482.0,632.0,7.12,13.00,1.25
3,2012,SIOUX FALLS ENVIRON. CANADA,SD,US009052008,43.7333,-96.6333,482.0,NaN,9.75,16.33,3.17
4,2013,SIOUX FALLS ENVIRON. CANADA,SD,US009052008,43.7333,-96.6333,482.0,547.5,6.34,12.06,0.62

In [5]:
final_df.shape

(517848, 11)

In [6]:
final_df = final_df.sort_values(by=['DATE'])

In [7]:
final_df.describe()

,DATE,LATITUDE,LONGITUDE,ELEVATION,PRCP,TAVG,TMAX,TMIN
count,517848.000000,517848.000000,517848.000000,517199.000000,466716.000000,366068.000000,385394.000000,381673.000000
mean,1975.390423,39.520148,-98.727385,619.656175,860.217386,11.293766,17.835929,4.770710
std,26.024874,6.268827,17.686655,712.982492,504.208733,5.275770,5.488174,5.417967
min,1923.000000,19.061400,-177.350000,-59.100000,0.000000,-15.450000,-12.490000,-19.910000
25%,1955.000000,35.414000,-110.866670,146.300000,466.600000,7.610000,14.060000,0.950000
50%,1976.000000,39.667900,-96.768600,316.400000,834.000000,10.780000,17.360000,4.470000
75%,1998.000000,43.377200,-85.412100,887.000000,1146.400000,15.020000,21.870000,8.330000
max,2018.000000,71.321300,179.283330,13109.400000,9628.500000,26.970000,34.660000,24.270000

### Handle Missing Values 
Use forward propagation to use previous value in the series to fill missing value

In [8]:
# forward-fill
final_df = final_df.fillna(method='ffill')

### Write to SQLite DB

In [9]:
final_df = final_df.reset_index().drop(labels='index', axis=1) # Remove duplicate indices
engine = create_engine('sqlite:///../db/adventurously.sqlite', echo=False)
final_df.to_sql('CLIMATE_HISTORY', if_exists='append', con=engine, index=True)

In [10]:
engine = create_engine('sqlite:///../db/adventurously.sqlite', echo=False)
pd.read_sql_query('select * from CLIMATE_HISTORY', con=engine)

,index,STATION,DATE,NAME,STATE,LATITUDE,LONGITUDE,ELEVATION,PRCP,TAVG,TMAX,TMIN
0,0,USC00307317,1923,ROXBURY,NY,42.283330,-74.566670,454.2,1043.6,NaN,NaN,NaN
1,1,USC00304024,1923,HUDSON,NY,42.250000,-73.783330,98.1,1043.6,NaN,NaN,2.16
2,2,USC00404609,1923,JEFFERSON CITY EVAP,TN,36.116670,-83.500000,366.1,1040.0,NaN,NaN,2.16
3,3,USC00250760,1923,BENKELMAN,NE,40.049970,-101.532580,909.5,682.1,NaN,NaN,2.16
4,4,USC00175875,1923,NORTH BRIDGTON,ME,44.133330,-70.716670,136.9,1027.0,6.54,12.96,0.12
5,5,USC00452675,1923,EVERETT,WA,47.975200,-122.195000,18.3,730.2,9.95,14.22,5.69
6,6,USC00029420,1923,WINKELMAN 6 S,AZ,32.916670,-110.716670,634.0,730.2,17.83,26.30,9.35
7,7,USC00345509,1923,MANGUM,OK,34.891000,-99.501600,486.2,1146.4,16.70,24.31,9.08
8,8,USC00233940,1923,HOLLISTER,MO,36.616667,-93.233333,486.2,1085.2,16.70,24.31,9.08
9,9,USC00054945,1923,LEROY 5 WSW,CO,40.514610,-102.990680,1361.5,674.1,8.64,15.77,1.50
10,10,USC00333758,1923,HILLSBORO,OH,39.233400,-83.609100,290.5,1201.5,11.62,17.82,5.42
11,11,USC00235340,1923,MARYVILLE 2 E,MO,40.345800,-94.834100,300.2,719.2,11.48,17.32,5.63
12,12,USC00236791,1923,POPLAR BLUFF,MO,36.757700,-90.405500,112.8,1568.4,15.10,20.99,9.20
13,13,USC00322188,1923,DICKINSON,ND,46.891380,-102.779160,749.8,501.1,5.21,12.50,-2.08
14,14,USC00304102,1923,INDIAN LAKE 2 SW,NY,43.754770,-74.275580,509.0,801.3,4.34,12.16,-3.48
15,15,USC00332791,1923,FINDLAY WPCC,OH,41.046100,-83.662200,234.1,951.3,10.33,16.85,3.82
16,16,USC00129430,1923,WEST LAFAYETTE 6 NW,IN,40.475000,-86.991900,215.8,1036.3,11.53,16.94,6.13
17,17,USC00013816,1923,HIGHLAND HOME,AL,31.881400,-86.250300,132.0,1415.8,18.66,23.87,13.46
18,18,USW00023051,1923,CLAYTON MUNICIPAL AIR PARK,NM,36.448600,-103.153900,1511.8,535.3,11.32,18.87,3.76
19,19,USC00292608,1923,DULCE,NM,36.935800,-107.000000,2070.5,599.0,6.92,16.40,-2.55
20,20,USC00316001,1923,MURPHY 4 ESE,NC,35.071400,-83.968400,487.7,1553.2,6.92,16.40,-2.55
21,21,USC00441200,1923,CALLAVILLE,VA,36.833333,-77.683333,79.2,1168.6,13.99,20.46,7.53
22,22,USC00041779,1923,CLAREMONT POMONA COL,CA,34.100000,-117.716670,366.1,1168.6,16.74,25.34,8.14
23,23,USC00139067,1923,WILLIAMSBURG 1 E,IA,41.664900,-91.997700,237.7,1168.6,9.35,15.59,3.12
24,24,USW00013782,1923,DOWNTOWN CHARLESTON,SC,32.775000,-79.923900,3.0,1183.7,19.04,22.87,15.20
25,25,USC00315965,1923,MOXLEY,NC,36.366667,-81.100000,594.4,1049.6,13.62,20.71,6.53
26,26,USC00480605,1923,BEDFORD 2 SE,WY,42.866670,-110.900000,1930.9,471.5,13.62,20.71,6.53
27,27,USC00425402,1923,MANTI,UT,39.258260,-111.630700,1749.6,471.5,7.60,15.06,0.14
28,28,USC00048758,1923,TAHOE CITY,CA,39.167800,-120.142800,1898.9,565.3,5.34,13.04,-2.36
29,29,USC00414257,1923,HONEY GROVE,TX,33.584100,-95.899400,202.4,1167.9,5.34,13.04,-2.36
...,...,...,...,...,...,...,...,...,...,...,...,...
517818,517818,USC00108500,2018,SMALL 6 N,ID,44.296500,-112.409500,1749.6,1572.0,18.18,23.80,12.55
517819,517819,USW00093042,2018,DALHART FAA AIRPORT,TX,36.016700,-102.550000,1216.2,316.2,13.66,22.58,4.73
517820,517820,USW00093063,2018,SILVER CITY GRANT CO AIRPORT,NM,32.633330,-108.166670,1637.7,248.4,14.41,22.80,6.02
517821,517821,USC00416950,2018,PERRYTON,TX,36.389700,-100.823800,896.7,762.8,14.41,22.80,6.68
517822,517822,USC00416959,2018,PERSIMMON GAP,TX,29.660200,-103.173600,873.3,762.8,14.41,22.80,6.68
517823,517823,USC00108137,2018,SANDPOINT EXPERIMENTAL STATION,ID,48.294300,-116.562700,648.0,638.6,14.41,13.95,6.68
517824,517824,USC00108080,2018,SALMON KSRA,ID,45.187500,-113.900800,1198.2,638.6,7.38,14.36,0.39
517825,517825,USC00417079,2018,PLAINVIEW,TX,34.189100,-101.702300,1027.2,430.2,15.56,23.11,8.01
517826,517826,USC00417081,2018,PLAINVIEW WATER PRODUCTION,TX,34.198100,-101.746000,1051.6,435.6,14.90,22.82,6.99
517827,517827,USC00108380,2018,SHOSHONE 1 WNW,ID,42.938300,-114.416900,1204.0,193.3,11.80,18.77,4.83
517828,517828,USC00416740,2018,PADUCAH,TX,34.006670,-100.298890,579.1,692.6,17.47,25.38,9.55
517829,517829,USC00416742,2018,PADUCAH 15 S,TX,33.808400,-100.298000,558.4,693.4,17.13,24.88,9.38
517830,517830,USC00108937,2018,SWAN VALLEY,ID,43.437200,-111.279100,1645.0,515.3,6.09,13.57,-1.39
517831,517831,USC00416135,2018,MULESHOE NUMBER 1,TX,34.219170,-102.732780,1167.4,418.9,13.86,23.11,4.62
517832,517832,USC00109950,2018,YELLOWPINE,ID,44.962800,-115.496000,1539.2,506.6,6.97,14.97,-1.03
517833,517833,USC00416137,2018,MULESHOE NWR,TX,33.954440,-102.778330,1140.0,467.9,13.87,23.23,4.51
517834,517834,USC00416177,2018,NACOGDOCHES,TX,31.616300,-94.643000,132.6,1387.7,18.81,24.47,13.15
517835,517835,USW00013942,2018,MONROE REGIONAL AIRPORT,LA,32.515500,-92.040500,24.1,1734.5,19.23,24.99,13.46
517836,517836,USC00109498,2018,WALLACE,ID,47.475400,-115.931300,826.0,1734.5,7.75,13.26,2.24
517837,517837,USC00416210,2018,NAVARRO MILLS DAM,TX,31.961100,-96.688000,138.4,1276.1,7.75,13.26,2.24
517838,517838,USC00416273,2018,NEW BRAUNFELS WEATHER FORECAST OFFICE,TX,29.704700,-98.028800,191.4,772.7,20.52,26.71,14.33
517839,517839,USC00416368,2018,NIXON,TX,29.282700,-97.767500,103.6,842.2,20.47,27.11,13.84
517840,517840,USC00109065,2018,TETONIA EXPERIMENT STATION,ID,43.856300,-111.276900,1880.6,563.7,20.47,27.11,13.84
517841,517841,USC00416644,2018,OLTON,TX,34.179800,-102.135500,1109.5,349.9,15.18,22.96,7.40
517842,517842,USC00416680,2018,ORANGE 9 N,TX,30.226300,-93.739400,5.5,1903.0,19.79,25.09,14.47
517843,517843,USC00108928,2018,SWAN FALLS PH,ID,43.243600,-116.378400,708.7,1903.0,19.79,25.09,14.47
517844,517844,USC00416733,2018,OZONA 22 SE,TX,30.426600,-101.036600,646.2,837.8,19.79,25.09,14.47
517845,517845,USC00416739,2018,PADRE ISLAND NATIONAL SEASHORE,TX,27.446600,-97.296800,3.0,1268.0,19.79,25.09,14.47
517846,517846,USW00093033,2018,CAVERN CITY AIRPORT,NM,32.333500,-104.258000,985.1,306.1,17.56,25.82,9.29
517847,517847,USW00096409,2018,TOOLIK LAKE 5 ENE,AK,68.648300,-149.398600,750.1,455.2,-6.52,-2.00,-11.05

In [11]:
from sqlalchemy.ext.automap import automap_base
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
print(list(Base.classes))

[<class 'sqlalchemy.ext.automap.CLIMATE_HISTORY'>]