# Data Preparation

National Centers for Environmental Information (NCEI) is responsible for hosting and providing access to one of the most significant archives on Earth, with comprehensive oceanic, atmospheric, and geophysical data. From the depths of the ocean to the surface of the sun and from million-year-old ice core records to near real-time satellite images, NCEI is the Nationâ€™s leading authority for environmental information.

The Global Summary of the Month (GSOM) and Global Summary of the Year (GSOY) datasets consist of 55 climatological variables computed from summary of the day observations of the Global Historical Climatology Network Daily dataset. Of these, 53 are monthly and annual summary variables and two are season-to-date variables. 

This project consumes GSOY data. In order to keep volume of data under control, we only consider precipitation and temperature data for US.

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

## Import necessary libraries

In [19]:
import os
import pandas as pd
from collections import OrderedDict
from sqlalchemy import create_engine, inspect
import tarfile

### Path to historic yearly weather information

In [4]:
RAW_DATA_FILE=os.path.join("..", "data", "gsoy-latest.tar.gz")

### Process archive downloaded from NCEI site - https://www.ncei.noaa.gov/data/gsoy/archive/

In [54]:
final_df = pd.DataFrame()

with tarfile.open(RAW_DATA_FILE, "r:gz") as tar:
    for index, member in enumerate(tar.getmembers()):
        # Extract only US data
        if not member.name.startswith('US'):
            continue
        csv = tar.extractfile(member)
        member_df = pd.read_csv(csv)
        # Skip records with no PRCP or TAVG. If record has TAVG, it also has TMAX and TMIN
        if 'TAVG' not in member_df.columns or 'PRCP' not in member_df.columns:
            continue
        
        # Extract only columns that are relevant for this analysis
        COLS_OF_INTEREST = ['DATE', 'NAME', 'STATION', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'PRCP', 'TAVG', 'TMAX', 'TMIN']
        member_df = member_df[COLS_OF_INTEREST]
        
        # Use 1918 and later for analysis
        member_df = member_df[member_df.DATE >= 1918]
        final_df = pd.concat([final_df, member_df[COLS_OF_INTEREST]], sort=False)
        #if index > 10:
        #    break
        
final_df.head()

,DATE,NAME,STATION,LATITUDE,LONGITUDE,ELEVATION,PRCP,TAVG,TMAX,TMIN
0,2009,"SIOUX FALLS ENVIRON. CANADA, SD US",US009052008,43.7333,-96.6333,482.0,549.7,6.26,12.07,0.45
1,2010,"SIOUX FALLS ENVIRON. CANADA, SD US",US009052008,43.7333,-96.6333,482.0,755.1,7.32,12.91,1.72
2,2011,"SIOUX FALLS ENVIRON. CANADA, SD US",US009052008,43.7333,-96.6333,482.0,632.0,7.12,13.00,1.25
3,2012,"SIOUX FALLS ENVIRON. CANADA, SD US",US009052008,43.7333,-96.6333,482.0,NaN,9.75,16.33,3.17
4,2013,"SIOUX FALLS ENVIRON. CANADA, SD US",US009052008,43.7333,-96.6333,482.0,547.5,6.34,12.06,0.62

In [55]:
final_df.shape

(531240, 10)

In [56]:
final_df.describe()

,DATE,LATITUDE,LONGITUDE,ELEVATION,PRCP,TAVG,TMAX,TMIN
count,531240.000000,531240.000000,531240.000000,530432.000000,476620.000000,375051.000000,395099.000000,391517.000000
mean,1973.994349,39.514880,-98.702169,616.930986,860.332658,11.302478,17.847740,4.778901
std,27.122627,6.263603,17.678968,710.781196,504.028117,5.267375,5.477826,5.411927
min,1918.000000,19.061400,-177.350000,-59.100000,0.000000,-15.450000,-12.490000,-19.910000
25%,1953.000000,35.416670,-110.818900,146.300000,467.600000,7.620000,14.080000,0.970000
50%,1975.000000,39.668860,-96.716670,315.200000,834.200000,10.800000,17.380000,4.490000
75%,1998.000000,43.368060,-85.394100,878.400000,1145.900000,15.020000,21.870000,8.330000
max,2018.000000,71.321300,179.283330,13109.400000,9628.500000,26.970000,34.660000,24.270000

### Write to SQLite DB

In [57]:
final_df = final_df.reset_index().drop(labels='index', axis=1) # Remove duplicate indices
engine = create_engine('sqlite:///../db/adventurously.sqlite', echo=False)
final_df.to_sql('CLIMATE_HISTORY', if_exists='append', con=engine, index=True)

In [48]:
engine = create_engine('sqlite:///../db/adventurously.sqlite', echo=False)
pd.read_sql_query('select * from CLIMATE_HISTORY', con=engine)

,index,STATION,DATE,NAME,LATITUDE,LONGITUDE,ELEVATION,PRCP,TAVG,TMAX,TMIN
0,0,US009052008,2009,"SIOUX FALLS ENVIRON. CANADA, SD US",43.7333,-96.6333,482.0,549.7,6.26,12.07,0.45
1,1,US009052008,2010,"SIOUX FALLS ENVIRON. CANADA, SD US",43.7333,-96.6333,482.0,755.1,7.32,12.91,1.72
2,2,US009052008,2011,"SIOUX FALLS ENVIRON. CANADA, SD US",43.7333,-96.6333,482.0,632.0,7.12,13.00,1.25
3,3,US009052008,2012,"SIOUX FALLS ENVIRON. CANADA, SD US",43.7333,-96.6333,482.0,NaN,9.75,16.33,3.17
4,4,US009052008,2013,"SIOUX FALLS ENVIRON. CANADA, SD US",43.7333,-96.6333,482.0,547.5,6.34,12.06,0.62
5,5,US009052008,2014,"SIOUX FALLS ENVIRON. CANADA, SD US",43.7333,-96.6333,482.0,NaN,NaN,NaN,NaN
6,6,USC00010063,1941,"ADDISON, AL US",34.2553,-87.1814,249.3,1186.4,NaN,NaN,NaN
7,7,USC00010063,1949,"ADDISON, AL US",34.2553,-87.1814,249.3,NaN,NaN,NaN,NaN
8,8,USC00010063,1986,"ADDISON, AL US",34.2553,-87.1814,249.3,1156.9,NaN,NaN,NaN
9,9,USC00010063,1987,"ADDISON, AL US",34.2553,-87.1814,249.3,1386.1,NaN,NaN,NaN
10,10,USC00010063,1988,"ADDISON, AL US",34.2553,-87.1814,249.3,1280.3,NaN,NaN,NaN
11,11,USC00010063,1989,"ADDISON, AL US",34.2553,-87.1814,249.3,1853.9,NaN,NaN,NaN
12,12,USC00010063,1990,"ADDISON, AL US",34.2553,-87.1814,249.3,1747.9,NaN,NaN,NaN
13,13,USC00010063,1991,"ADDISON, AL US",34.2553,-87.1814,249.3,1649.2,NaN,NaN,NaN
14,14,USC00010063,1992,"ADDISON, AL US",34.2553,-87.1814,249.3,1297.1,NaN,NaN,NaN
15,15,USC00010063,1993,"ADDISON, AL US",34.2553,-87.1814,249.3,1411.1,NaN,NaN,NaN
16,16,USC00010063,1994,"ADDISON, AL US",34.2553,-87.1814,249.3,1729.2,NaN,NaN,NaN
17,17,USC00010063,1996,"ADDISON, AL US",34.2553,-87.1814,249.3,1451.3,NaN,NaN,NaN
18,18,USC00010063,1997,"ADDISON, AL US",34.2553,-87.1814,249.3,1839.9,NaN,NaN,NaN
19,19,USC00010063,1998,"ADDISON, AL US",34.2553,-87.1814,249.3,1558.4,NaN,NaN,NaN
20,20,USC00010063,1999,"ADDISON, AL US",34.2553,-87.1814,249.3,1301.9,NaN,NaN,NaN
21,21,USC00010063,2000,"ADDISON, AL US",34.2553,-87.1814,249.3,1265.5,NaN,NaN,NaN
22,22,USC00010063,2001,"ADDISON, AL US",34.2553,-87.1814,249.3,1673.3,NaN,NaN,NaN
23,23,USC00010063,2004,"ADDISON, AL US",34.2553,-87.1814,249.3,1817.3,NaN,NaN,NaN
24,24,USC00010063,2005,"ADDISON, AL US",34.2553,-87.1814,249.3,1208.0,16.16,21.96,10.37
25,25,USC00010063,2010,"ADDISON, AL US",34.2553,-87.1814,249.3,1159.1,14.81,21.46,8.15
26,26,USC00010063,2011,"ADDISON, AL US",34.2553,-87.1814,249.3,1563.2,15.02,21.38,8.67
27,27,USC00010063,2012,"ADDISON, AL US",34.2553,-87.1814,249.3,1458.8,15.97,22.56,9.39
28,28,USC00010063,2013,"ADDISON, AL US",34.2553,-87.1814,249.3,1758.9,NaN,NaN,NaN
29,29,USC00010063,2014,"ADDISON, AL US",34.2553,-87.1814,249.3,1747.9,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
570613,570613,USW00094995,2007,"LINCOLN 8 ENE, NE US",40.8484,-96.5651,362.4,943.0,10.87,17.10,4.64
570614,570614,USW00094995,2008,"LINCOLN 8 ENE, NE US",40.8484,-96.5651,362.4,937.7,9.48,16.07,2.88
570615,570615,USW00094995,2009,"LINCOLN 8 ENE, NE US",40.8484,-96.5651,362.4,710.9,9.64,16.44,2.85
570616,570616,USW00094995,2010,"LINCOLN 8 ENE, NE US",40.8484,-96.5651,362.4,1071.4,10.33,16.56,4.09
570617,570617,USW00094995,2011,"LINCOLN 8 ENE, NE US",40.8484,-96.5651,362.4,862.6,10.44,16.92,3.95
570618,570618,USW00094995,2012,"LINCOLN 8 ENE, NE US",40.8484,-96.5651,362.4,549.8,12.38,19.89,4.86
570619,570619,USW00094995,2013,"LINCOLN 8 ENE, NE US",40.8484,-96.5651,362.4,NaN,9.93,16.45,3.40
570620,570620,USW00094995,2014,"LINCOLN 8 ENE, NE US",40.8484,-96.5651,362.4,NaN,9.74,16.41,3.07
570621,570621,USW00094995,2015,"LINCOLN 8 ENE, NE US",40.8484,-96.5651,362.4,1147.5,11.35,17.73,4.98
570622,570622,USW00094995,2016,"LINCOLN 8 ENE, NE US",40.8484,-96.5651,362.4,995.9,12.26,18.66,5.86
570623,570623,USW00094995,2017,"LINCOLN 8 ENE, NE US",40.8484,-96.5651,362.4,898.4,11.57,18.24,4.90
570624,570624,USW00094995,2018,"LINCOLN 8 ENE, NE US",40.8484,-96.5651,362.4,919.8,NaN,NaN,NaN
570625,570625,USW00094996,2003,"LINCOLN 11 SW, NE US",40.6954,-96.8541,418.2,454.1,10.60,16.78,4.41
570626,570626,USW00094996,2004,"LINCOLN 11 SW, NE US",40.6954,-96.8541,418.2,650.3,10.63,16.46,4.80
570627,570627,USW00094996,2005,"LINCOLN 11 SW, NE US",40.6954,-96.8541,418.2,501.1,11.68,17.83,5.53
570628,570628,USW00094996,2006,"LINCOLN 11 SW, NE US",40.6954,-96.8541,418.2,714.8,12.00,18.27,5.72
570629,570629,USW00094996,2007,"LINCOLN 11 SW, NE US",40.6954,-96.8541,418.2,959.7,11.12,16.96,5.29
570630,570630,USW00094996,2009,"LINCOLN 11 SW, NE US",40.6954,-96.8541,418.2,603.6,9.87,16.04,3.70
570631,570631,USW00094996,2010,"LINCOLN 11 SW, NE US",40.6954,-96.8541,418.2,777.0,10.49,16.22,4.77
570632,570632,USW00094996,2011,"LINCOLN 11 SW, NE US",40.6954,-96.8541,418.2,783.5,10.66,16.72,4.59
570633,570633,USW00094996,2012,"LINCOLN 11 SW, NE US",40.6954,-96.8541,418.2,493.1,12.77,19.74,5.79
570634,570634,USW00094996,2013,"LINCOLN 11 SW, NE US",40.6954,-96.8541,418.2,NaN,10.14,16.31,3.96
570635,570635,USW00094996,2014,"LINCOLN 11 SW, NE US",40.6954,-96.8541,418.2,NaN,10.05,16.46,3.64
570636,570636,USW00094996,2015,"LINCOLN 11 SW, NE US",40.6954,-96.8541,418.2,1079.4,11.57,17.67,5.47
570637,570637,USW00094996,2016,"LINCOLN 11 SW, NE US",40.6954,-96.8541,418.2,823.5,12.33,18.36,6.31
570638,570638,USW00094996,2017,"LINCOLN 11 SW, NE US",40.6954,-96.8541,418.2,809.9,11.76,17.98,5.54
570639,570639,USW00094996,2018,"LINCOLN 11 SW, NE US",40.6954,-96.8541,418.2,935.3,10.28,16.17,4.38
570640,570640,USW00096406,2018,"RUBY 44 ESE, AK US",64.5015,-154.1297,78.9,384.4,-1.86,3.71,-7.42
570641,570641,USW00096407,2018,"SELAWIK 28 E, AK US",66.5620,-159.0036,6.7,292.1,-2.44,1.84,-6.73
570642,570642,USW00096409,2018,"TOOLIK LAKE 5 ENE, AK US",68.6483,-149.3986,750.1,455.2,-6.52,-2.00,-11.05

In [49]:
from sqlalchemy.ext.automap import automap_base
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
print(list(Base.classes))

[<class 'sqlalchemy.ext.automap.CLIMATE_HISTORY'>]